{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}

<div class="container">
    <div class="container">
        {% for book in books %}
        <div class="row">
        <div class="book col-md-8">
            <div class="col-md-2">
               <figure>
                   <img src = "{{ book.book_cover_url }}">
               </figure>
            </div>
            <div class="col-md-6">
                <div class="row">
                <div class="col-md-6">
                    <a href="/books/{{ book.id }}"><h2>{{ book.title }}</h2></a>
                    {% for author in authors %}
                    {% if book.id ===  author.book_id %}
                    <h3>By {{ author.first_name }} {{ author.last_name }}</h3>
                    {% endif %}
                    {% endfor %}
                    <h3>{{ book.book_genre }}</h3>
                </div>
                <div class="col-md-3">
                    <a href="/books/{{ book.id }}/edit"><button class="btn btn-info"  type="submit" id="edit">Edit</button></a>
                    <a href="/books/{{ book.id }}/delete"><button class="btn btn-danger" type="button" id="delete">Delete</button></a>
                </div>
                </div>
                <p>{{ book.description }}</p>
            </div>
        </div>
        </div>
        {% endfor %}
        <a href="/books/new">Add a Book</a>
    </div>
</div>

{% endblock %}
