{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form method="post" action="/books/new">
                <p>Title:</p>
                <input type="text" name="title" required><br><br>
                <p>Genre:</p>
                <input type="text" name="genre" required><br><br>
                <p>Cover Image URL:</p>
                <input type="url" name="book_cover_url" required><br><br>
                <p>Description:</p>
                <textarea rows="4" cols="50" name="description" required></textarea>
                <p>Authors:</p>
                <div class="authorSelect">
                    <select required name="author">
                        {%  for author in authors %}
                        <option value="{{ author.first_name }} {{ author.last_name }}">{{ author.first_name }} {{ author.last_name }}</option>
                        {% endfor %}
                    </select>
                    <button type="button">Remove Author</button>
                </div>
                <button type="submit" id="submit">Add Book</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}
