body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
  height: 75px;
  width: 75px;
}

.bump-right {
    margin-left: 90px;
}